
@{
    ViewData["Title"] = "NoAccess";
}

<h1>You have no access</h1>

<p>You have entered incorrect credentials. Please try again .</p>

<a asp-action="LogIn" class="btn btn-primary">Go Back to Log In</a>
